<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouroom.web.board.BoardMapper">
<select id="list" resultType="com.ouroom.web.item.Item">
		SELECT * FROM ITEM WHERE SEQ>82 ORDER BY SEQ DESC;
	</select>
	
	<select id="count" resultType="int">
	SELECT COUNT(*) FROM ITEM I JOIN ITEM_POST IP WHERE I.SEQ = IP.ITEM_SEQ AND I.SEQ >82 ORDER BY I.SEQ DESC;
	</select>

</mapper>