/* 기능 */
.d_top_btn {
	background-color: rgba(204, 82, 0, 0.6);
    color: #ffffff;
    display: none;
    padding: 9px 12px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 99999;
}

.d_post_search {
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    position: relative
}

@media (max-width:767px) {
    .d_post_search {
        margin-left: 14px;
        margin-right: 14px
    }
}

.d_post_search>span,
.d_post_search a {
    color: #CC5200
}

.d_post_search>a {
    font-size: 13px;
    text-decoration: underline
}

@media (max-width:767px) {
    .d_post_search>a {
        display: block;
        margin-top: 15px
    }
}

@media (min-width:768px) {
    .d_post_search>a {
        position: absolute;
        right: 0;
        bottom: 0
    }
}


.d_top_btn:hover {
  background-color: rgba(204, 82, 0, 1);
  color: #ffffff;
}

/* 필터 */
.d_container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: calc(100vw - 30px);
    max-width: 100%;
    box-sizing: border-box;
    color: #424242
}

@media (min-width: 375px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100vw - 30px);
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

@media (min-width: 768px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100vw - 80px);
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

@media (min-width: 1024px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100vw - 120px);
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

@media (min-width: 1256px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: 1136px;
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

.d_filter_wrap {
    z-index: 1;
    position: relative;
    width: 100%;
    color: #424242
}

@media (min-width:768px) and (max-width:1023px) {
    .d_filter_wrap ul {
        margin-right: 0;
        margin-left: 40px
    }
}

@media (max-width:767px) {
    .d_filter_wrap ul {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: 0 12px
    }
}

.d_filter {
    border-bottom: 1px solid #ededed;
    white-space: nowrap;
    font-size: 15px;
    overflow-y: visible;
    overflow-x: auto;
    text-align: center
}

@media (max-width:767px) {
    .d_filter {
        font-size: 12px
    }
}

.d_filter_depth_1 {
    z-index: 1;
    position: relative;
    background-color: #fff
}

@media (max-width:767px) {
    .d_filter_depth_1 {
        margin: 0
    }
}

.d_filter_depth_2 {
    width: 100%;
    position: absolute;
    bottom: 1px;
    background-color: hsla(0, 0%, 100%, .9);
    transition: transform .3s ease;
    transform: translateY(100%)
}

.d_filter_depth_2.d_filter_hidden {
    transform: translateY(0)
}

@media (max-width:767px) {
    .d_filter_depth_2 {
        margin: 0
    }
}

.d_filter_item {
    display: inline-block;
    color: #424242
}

.d_filter_item:hover {
	color: #CC5200;
}

.d_filter_item:first-child {
    margin-left: -12px;
    padding-left: 0 !important
}

.d_filter_item_active {
    color: #CC5200
}

.d_filter_item_btn {
    color: inherit;
    display: block;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    background: transparent;
    text-align: left
}

a.d_filter_item_btn {
	color: inherit;
	text-decoration: none
}

.d_filter_item_btn_search_key {
    color: #424242;
    font-size: 12px;
    margin-bottom: 12px;
    display: block
}

.d_filter_item_btn_search_val {
    display: block;
    font-size: 18px
}

@media (max-width:767px) {
    .d_filter_item_btn_search_val {
        font-size: 14px
    }
}

@media (min-width:768px) {
    .d_filter_depth_1 .d_filter_item {
        padding: 0 23px
    }

    .d_filter_depth_1 .d_filter_item_btn {
        height: 98px
    }

    .d_filter_depth_2 .d_filter_item_item {
        padding: 0 18px
    }

    .d_filter_depth_2 .d_filter_item_btn {
        margin: 25px 0
    }
}

.d_filter_item_btn_search_icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../img/danah/post.png);
    background-size: 600px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_filter_item_btn_search_icon {
        background-image: url(../img/danah/post@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_filter_item_btn_search_icon {
        background-image: url(../img/danah/post@3x.png)
    }
}

/* 리스트 */

#d_post_list {
    padding-top: 20px;
}

@media (min-width:768px) {
    #d_post_list {
        padding-top: 20px
    }
}

@media (max-width:767px) {
    #d_post_list {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }
}

#d_row {
	padding-top: 20px;
}

.d_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -5px;
    margin-left: -5px
}

@media (min-width: 375px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -5px;
        margin-left: -5px
    }
}

@media (min-width: 768px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -7.5px;
        margin-left: -7.5px
    }
}

@media (min-width: 1024px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px
    }
}

@media (min-width: 1256px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px
    }
}

.d_post {
    padding-top: 32px
}

.d_col_12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px
}

@media (min-width: 375px) {
    .d_col_12 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) {
    .d_col_12 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) {
    .d_col_12 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1256px) {
    .d_col_12 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 768px) {
    .d_col_md_4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) and (min-width: 375px) {
    .d_col_md_4 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) and (min-width: 768px) {
    .d_col_md_4 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 768px) and (min-width: 1024px) {
    .d_col_md_4 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 768px) and (min-width: 1256px) {
    .d_col_md_4 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1024px) {
    .d_col_lg_3 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 1024px) and (min-width: 375px) {
    .d_col_lg_3 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 1024px) and (min-width: 768px) {
    .d_col_lg_3 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) and (min-width: 1024px) {
    .d_col_lg_3 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1024px) and (min-width: 1256px) {
    .d_col_lg_3 {
        padding-right: 10px;
        padding-left: 10px
    }
}

.d_post_writer{
	padding-bottom: 12px;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
}

@media (max-width:767px) {
    .d_post_writer {
        margin-left: 14px;
        margin-right: 14px
    }
}

.d_post_writer_profile{
	position: relative;
    -moz-flex: 0 0 36px;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #ededed;
    margin-right: 12px;
}

.d_post_writer_profile>img{
    transition: opacity .6s ease;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.d_post_writer_about{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
}

.d_post_writer_about a {
	color: inherit;
    text-decoration: none;
}

.d_post_writer_about strong {
	font-weight: 400;
    line-height: 19px;
    border: none;
}

.d_post>figure {
    margin: 0;
    cursor: pointer;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.d_post>figure>figcaption {
    line-height: 19px;
    word-break: break-all;
    height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2
}

@media (max-width:767px) {
    .d_post>figure>figcaption {
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 10px;
        -moz-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
}

.d_post_img_icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../img/danah/post.png);
    background-size: 600px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_post_img_icon {
        background-image: url(../img/danah/post@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_post_img_icon {
        background-image: url(../img/danah/post@3x.png)
    }
}

.d_post_img {
    width: 100%;
    position: relative;
    overflow: hidden
}

@media (min-width:768px) {
    .d_post_img {
        border-radius: 10px
    }
}

.d_post_img:after {
    content: "";
    display: block;
    padding-top: 100%
}

@media (max-width:767px) {
    .d_post_img:after {
        padding-top: 75%
    }
}

.d_post_img>img {
    transition: opacity .3s ease;
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.d_post_img>img.horizon {
    width: unset;
    height: 100%
}

@media (max-width:767px) {
    .d_post_img>img.horizon {
        width: 100%;
        height: unset
    }
}

.d_post_img>img.vertical {
    width: 100%;
    height: unset
}

.d_post_img_info {
    position: absolute;
    right: 10px;
    top: 10px
}

.d_post_img_view {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .5)
}

.d_post_action {
    position: relative;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:767px) {
    .d_post_action {
        padding-left: 14px;
        padding-right: 14px
    }
}

.d_post_action_like {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center
}

.d_post_action_btn,
.d_post_action_like {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    height: 56px;
    font-size: 12px;
    padding: 0;
    background: transparent;
    color: #424242
}

.d_post_action_btn--disabled,
.d_post_action_btn:disabled,
.d_post_action_like--disabled,
.d_post_action_like:disabled {
    opacity: .7;
    cursor: default
}

.d_post_action_btn>span,
.d_post_action_like>span {
    vertical-align: middle;
    margin-right: 6px
}

@media (min-width:768px) {

    .d_post_action_btn:nth-child(4),
    .d_post_action_like:nth-child(4) {
        display: none
    }
}

.d_post_action_icon {
    background-repeat: no-repeat;
    display: inline-block
}

.d_post_action_icon {
    background-image: url(../img/danah/action.png);
    background-size: 400px auto
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_post_action_icon {
        background-image: url(../img/danah/action@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_post_action_icon {
        background-image: url(../img/danah/action@3x.png)
    }
}

/* 검색 */
.d_col_6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px
}

@media (min-width: 375px) {
    .d_col_6 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) {
    .d_col_6 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) {
    .d_col_6 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1256px) {
    .d_col_6 {
        padding-right: 10px;
        padding-left: 10px
    }
}

