/* -------------- 기능 -------------- */
.d_top_btn {
	background-color: rgba(204, 82, 0, 0.6);
    color: #ffffff;
    display: none;
    padding: 9px 12px;
    position: fixed;
    right: 25px;
    bottom: 40px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 99999;
}

.d_top_btn:hover {
  background-color: rgba(204, 82, 0, 1);
  color: #ffffff;
}

.d_search_tooltip {
	right: 40%;
    left: 40%;
    top: 1.5em;
	position: fixed;
    z-index: 1;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    transition: visibility 0s 0s, opacity .3s linear, transform .3s ease;
}

.d_search_tooltip>input {
	padding: 0;
    font-size: 15px;
    height: 20px;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0 10px;
    border-radius: 2px;
    
}

.d_post_search {
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    position: relative
}

@media (max-width:767px) {
    .d_post_search {
        margin-left: 14px;
        margin-right: 14px
    }
}

.d_post_search>span,
.d_post_search a {
    color: #CC5200
}

.d_post_search>a {
    font-size: 13px;
    text-decoration: underline
}

@media (max-width:767px) {
    .d_post_search>a {
        display: block;
        margin-top: 15px
    }
}

@media (min-width:768px) {
    .d_post_search>a {
        position: absolute;
        right: 0;
        bottom: 0
    }
}
.tooltip {
    width: 300px;
}

.toast {
    position: fixed;
    width: 460px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100001;
    padding: 0 10px;
    box-sizing: border-box;
    list-style: none;
    top: 22em;
    text-align: center;
    font-size: 20px
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .toast {
        width: 400px;
        max-width: 90%;
        top: 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .toast {
        width: 400px;
        top: 50px
    }
}

@media only screen and (min-width: 1024px) {
    .toast {
        width: 400px;
        top: 100px
    }
}

.toast li {
    margin: 10px 0 0 0;
    display: block;
    background-color: #fcf8e3;
    color: #c09853;
    border: 1px solid #fbeed5;
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .15)
}

.toast li:first-child {
    margin-top: 0
}

.toast li.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7
}

.toast li.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.toast li.success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.toast button.close {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    float: right;
    padding: 0;
    margin: 0 0 0 5px;
    color: rgba(0, 0, 0, .25);
    cursor: pointer
}

.toast h1,
.toast h2,
.toast h3,
.toast h4 {
    display: inline
}

/* -------------- 필터 -------------- */
.d_container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: calc(100vw - 30px);
    max-width: 100%;
    box-sizing: border-box;
    color: #424242
}

@media (min-width: 375px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100vw - 30px);
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

@media (min-width: 768px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100vw - 80px);
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

@media (min-width: 1024px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100vw - 120px);
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

@media (min-width: 1256px) {
    .d_container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: 1136px;
        max-width: 100%;
        box-sizing: border-box;
        color: #424242
    }
}

.d_filter_wrap {
    z-index: 1;
    position: relative;
    width: 100%;
    color: #424242
}

@media (min-width:768px) and (max-width:1023px) {
    .d_filter_wrap ul {
        margin-right: 0;
        margin-left: 40px
    }
}

@media (max-width:767px) {
    .d_filter_wrap ul {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: 0 12px
    }
}

.d_filter {
    border-bottom: 1px solid #ededed;
    white-space: nowrap;
    font-size: 15px;
    overflow-y: visible;
    overflow-x: auto;
    text-align: center
}

@media (max-width:767px) {
    .d_filter {
        font-size: 12px
    }
}

.d_filter_depth_1 {
    z-index: 1;
    position: relative;
    background-color: #fff
}

@media (max-width:767px) {
    .d_filter_depth_1 {
        margin: 0
    }
}

.d_filter_depth_2 {
    width: 100%;
    position: absolute;
    bottom: 1px;
    background-color: hsla(0, 0%, 100%, .9);
    transition: transform .3s ease;
    transform: translateY(100%)
}

.d_filter_depth_2.d_filter_hidden {
    transform: translateY(0)
}

@media (max-width:767px) {
    .d_filter_depth_2 {
        margin: 0
    }
}

.d_filter_item {
    display: inline-block;
    color: #424242
}

.d_filter_item:hover {
	color: #CC5200;
}

.d_filter_item:first-child {
    margin-left: -12px;
    padding-left: 0 !important
}

.d_filter_item_active {
    color: #CC5200
}

.d_filter_item_btn {
    color: inherit;
    display: block;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    background: transparent;
    text-align: left
}

a.d_filter_item_btn {
	color: inherit;
	text-decoration: none
}

.d_filter_item_btn_search_key {
    color: #424242;
    font-size: 12px;
    margin-bottom: 12px;
    display: block
}

.d_filter_item_btn_search_val {
    display: block;
    font-size: 18px
}

@media (max-width:767px) {
    .d_filter_item_btn_search_val {
        font-size: 14px
    }
}

@media (min-width:768px) {
    .d_filter_depth_1 .d_filter_item {
        padding: 0 23px
    }

    .d_filter_depth_1 .d_filter_item_btn {
        height: 98px
    }

    .d_filter_depth_2 .d_filter_item_item {
        padding: 0 18px
    }

    .d_filter_depth_2 .d_filter_item_btn {
        margin: 25px 0
    }
}

.d_filter_item_btn_search_icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../img/danah/post.png);
    background-size: 600px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_filter_item_btn_search_icon {
        background-image: url(../img/danah/post@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_filter_item_btn_search_icon {
        background-image: url(../img/danah/post@3x.png)
    }
}

/* -------------- 리스트 -------------- */

#d_post_list {
    padding-top: 20px;
}

@media (min-width:768px) {
    #d_post_list {
        padding-top: 20px
    }
}

@media (max-width:767px) {
    #d_post_list {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }
}

#d_row {
	padding-top: 20px;
}

.d_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -5px;
    margin-left: -5px
}

@media (min-width: 375px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -5px;
        margin-left: -5px
    }
}

@media (min-width: 768px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -7.5px;
        margin-left: -7.5px
    }
}

@media (min-width: 1024px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px
    }
}

@media (min-width: 1256px) {
    .d_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px
    }
}

.d_post {
    padding-top: 32px
}

.d_col_12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px
}

@media (min-width: 375px) {
    .d_col_12 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) {
    .d_col_12 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) {
    .d_col_12 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1256px) {
    .d_col_12 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 768px) {
    .d_col_md_4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) and (min-width: 375px) {
    .d_col_md_4 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) and (min-width: 768px) {
    .d_col_md_4 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 768px) and (min-width: 1024px) {
    .d_col_md_4 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 768px) and (min-width: 1256px) {
    .d_col_md_4 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1024px) {
    .d_col_lg_3 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 1024px) and (min-width: 375px) {
    .d_col_lg_3 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 1024px) and (min-width: 768px) {
    .d_col_lg_3 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) and (min-width: 1024px) {
    .d_col_lg_3 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1024px) and (min-width: 1256px) {
    .d_col_lg_3 {
        padding-right: 10px;
        padding-left: 10px
    }
}

.d_post_writer{
	padding-bottom: 12px;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
}

@media (max-width:767px) {
    .d_post_writer {
        margin-left: 14px;
        margin-right: 14px
    }
}

.d_post_writer_profile{
	position: relative;
    -moz-flex: 0 0 36px;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #ededed;
    margin-right: 12px;
}

.d_post_writer_profile>img{
    transition: opacity .6s ease;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.d_post_writer_about{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
}

.d_post_writer_about a {
	color: inherit;
    text-decoration: none;
}

.d_post_writer_about strong {
	font-weight: 400;
    line-height: 19px;
    border: none;
}

.d_post>figure {
    margin: 0;
    cursor: pointer;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.d_post>figure>figcaption {
    line-height: 19px;
    word-break: break-all;
    height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2
}

@media (max-width:767px) {
    .d_post>figure>figcaption {
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 10px;
        -moz-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
}

.d_post_img_icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../img/danah/post.png);
    background-size: 600px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_post_img_icon {
        background-image: url(../img/danah/post@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_post_img_icon {
        background-image: url(../img/danah/post@3x.png)
    }
}

.d_post_img {
    width: 100%;
    position: relative;
    overflow: hidden
}

@media (min-width:768px) {
    .d_post_img {
        border-radius: 10px
    }
}

.d_post_img:after {
    content: "";
    display: block;
    padding-top: 100%
}

@media (max-width:767px) {
    .d_post_img:after {
        padding-top: 75%
    }
}

.d_post_img_bg {
    position: relative;
    width: 100%;
    background-color: #f5f5f5
}

.d_post_img>img {
    transition:.5s;
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.d_post_img_pc>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: block;
}

.d_post_img>img.d_horizon {
    width: 100%;
    height: 100%
}

.d_vertical:hover {
	transform: translate(-50%, -50%) scale(1.1)
}
.d_horizon:hover {
	transform: translate(-50%, -50%) scale(1.1);
	opacity:0.7;
}

@media (max-width:767px) {
    .d_post_img>img.d_horizon {
        width: 100%;
        height: unset
    }
}

.d_post_img>img.d_vertical {
    width: 100%;
    height: 100%
}

.d_post_img_info {
    position: absolute;
    right: 10px;
    top: 10px
}

.d_post_img_view {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .5)
}

.d_post_action {
    position: relative;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:767px) {
    .d_post_action {
        padding-left: 14px;
        padding-right: 14px
    }
}

.d_post_action_cmt,
.d_post_action_like {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    text-decoration: none !important;
    color: inherit !important;
}

.d_post_action_cmt,
.d_post_action_like {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    height: 56px;
    font-size: 12px;
    padding: 0;
    background: transparent;
    color: #424242;
    position: relative;
}

.d_post_action_cmt--disabled,
.d_post_action_cmt:disabled,
.d_post_action_like--disabled,
.d_post_action_like:disabled {
    opacity: .7;
    cursor: default
}

.d_post_action_cmt>span,
.d_post_action_like>span {
    vertical-align: middle;
    margin-right: 6px
}

@media (min-width:768px) {

    .d_post_action_cmt:nth-child(4),
    .d_post_action_like:nth-child(4) {
        display: none
    }
}

.d_post_action_icon {
    background-repeat: no-repeat;
    display: inline-block
}

.d_post_action_icon {
    background-image: url(../img/danah/action.png);
    background-size: 400px auto
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_post_action_icon {
        background-image: url(../img/danah/action@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_post_action_icon {
        background-image: url(../img/danah/action@3x.png)
    }
}

/* -------------- 검색 -------------- */
.d_col_6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px
}

@media (min-width: 375px) {
    .d_col_6 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) {
    .d_col_6 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) {
    .d_col_6 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1256px) {
    .d_col_6 {
        padding-right: 10px;
        padding-left: 10px
    }
}


/* -------------- 디테일 -------------- */
@media (max-width:1023px) {
    .d_post_detail {
        margin-bottom: 74px
    }
}

.d_post_detail header {
    color: #757575;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin: 40px 0 30px
}

@media (max-width:767px) {
    .d_post_detail header {
        margin: 15px 0 14px
    }
}

@media (min-width: 1024px) {
    .d_col_lg_8 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.6666666667%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 1024px) and (min-width: 375px) {
    .d_col_lg_8 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 1024px) and (min-width: 768px) {
    .d_col_lg_8 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) and (min-width: 1024px) {
    .d_col_lg_8 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1024px) and (min-width: 1256px) {
    .d_col_lg_8 {
        padding-right: 10px;
        padding-left: 10px
    }
}

.d_category {
	margin: 0;
    padding: 0;
}

.d_category_item:not(:last-child):after {
    content: "|";
    margin: 0 5px;
    color: #bdbdbd
}

.d_post_section {
    margin-bottom: 60px
}

@media (max-width:767px) {
    .d_post_section {
        margin-bottom: 40px
    }
}

.d_post_section figcaption {
    font-size: 15px;
    line-height: 22px;
    margin-top: 30px
}

.d_post_section figcaption>p {
    margin-bottom: 6px
}

@media (max-width:767px) {
    .d_post_section figcaption {
        margin-top: 10px
    }
}

.d_post_img {
    width: 100%;
    position: relative
}
.d_post_img_pc .d_post_img_btn_manage,
.d_post_img_pc .d_post_img_tags>* {
    visibility: hidden
}

.d_post_img_pc .d_post_img_tags>.active,
.d_post_img_pc:hover .d_post_img_btn_manage,
.d_post_img_pc:hover .d_post_img_tags>* {
    visibility: visible
}

.d_post_img_btn_manage {
    position: absolute;
    top: 10px;
    right: 10px
}

.d_post_img_btn_manage>a {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    padding: 6px;
    background-color: #000;
    border-radius: 4px;
    opacity: .6;
    margin-left: 6px;
    text-decoration: none;
}

.d_post_img_btn_manage>a:hover {
    background-color: #CC5200;
    opacity: 1
}

@media (max-width:1023px) {
    .post_img_btn_manage>a {
        display: none
    }
}

.d_product_tag {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer
}

.d_product_tag_icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background-color: rgba(204, 82, 0, 0.7);
	text-align: center;
	cursor: pointer;
}

.d_product_tag_icon>i {
	color: #ffffff;
	vertical-align: -webkit-baseline-middle;
}

@media (max-width:767px) {
    .d_product_tag .d_product_tag_icon {
        transform: scale(.75)
    }
}

@media (max-width:767px) {
    .d_post_img{
        width: unset;
        margin-left: -15px;
        margin-right: -15px
    }
}

.d_used_product {
    position: relative;
    margin: 30px -5px 0
}

@media (max-width:767px) {
    .d_used_product {
        margin: 20px -15px 0;
        width: unset
    }
}

.d_used_product_list {
    position: relative;
    white-space: nowrap;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: visible
}

.d_used_product_scrollable_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    background: transparent;
    border: none;
    z-index: 2;
    padding: 0
}

@media (max-width:1023px) {
    .d_used_product_scrollable_btn {
        display: none
    }
}

.d_used_product_scrollable_btn>:last-child {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity .1s ease;
    opacity: 0
}

.d_used_product_scrollable_btn:hover>:last-child {
    opacity: 1
}

@media (min-width:1024px) {

    .d_used_product_scrollable:after,
    .d_used_product_scrollable:before {
        content: "";
        display: block;
        width: 200px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1
    }

    .d_used_product_scrollable:before {
        left: 0;
        background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, .1))
    }

    .d_used_product_scrollable:after {
        right: 0;
        background-image: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, .1))
    }

    .d_used_product_scrollable_left_end:before,
    .d_used_product_scrollable_right_end:after,
    .d_used_product_scrollable:hover:after,
    .d_used_product_scrollable:hover:before {
        content: unset
    }

    .d_used_product_scrollable:hover .d_used_product_scrollable_btn {
        visibility: unset
    }
}

.d_used_product_item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ededed
}

.d_used_product_item:after {
    content: "";
    display: block;
    padding-top: 100%
}

.d_used_product_item:not(:last-child) {
    margin-right: 10px
}

@media (max-width:767px) {
    .d_used_product_item {
        width: 76px;
        height: 76px;
        line-height: 76px
    }
}

.d_used_product_item>img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease
}

.d_used_product_item.active {
    border-color: #CC5200;
    border-width: 2px
}

.d_used_product_item.active>img {
    transform: translate(-50%, -50%) scale(1.1)
}

.d_keyword {
    margin-left: -3px;
    margin-right: -3px;
    margin-top: 30px;
    padding: 0;
}

.d_keywords {
    margin-right: -3px;
    margin-top: 30px;
    padding: 0;
}

@media (max-width:767px) {
    .d_keyword,
    .d_keywords {
        margin-top: 20px
    }
}

.d_keyword_item {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 6px
}

.d_keyword_item>a{
	color: inherit;
    text-decoration: none;
}

.d_keyword_item_badge {
    border-radius: 6px;
    color: #757575;
    background-color: #f5f5f5;
    padding: 6px 10px 7px
}

.d_keyword_item_badge:hover {
    color: #424242;
    background-color: #ededed
}

.d_section_divider {
    height: 0;
    border-color: #ededed;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: inset;
}

@media (min-width:1024px) {
    .d_section_divider {
        margin: 60px 0
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .d_section_divider {
        margin: 50px 0
    }
}

@media (max-width:767px) {
    .d_section_divider {
        margin: 30px 0
    }
}

.d_footer {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center
}

.d_footer .d_section_divider {
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.d_footer_stats {
    font-size: 13px;
    margin: 0 -8px;
    color: #757575
}

.d_footer_stats_item {
    display: inline-block
}

.d_footer_stats_item:not(:last-child):after {
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 1px;
    background-color: #bdbdbd;
    opacity: .9;
    display: inline-block;
    vertical-align: middle
}

.d_footer_stats_item>* {
    padding: 0 8px
}

@media (max-width:1023px) {
    .d_footer_share {
        margin-top: 20px
    }
}

.d_footer_writer {
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.d_footer_writer>.d_writer_profile {
    margin-bottom: 30px
}

@media (min-width:1024px) {

    .d_footer .d_section_divider:not(:last-child),
    .d_footer_share,
    .d_footer_writer {
        display: none
    }
}

@media (max-width:767px) {

    .d_footer_share,
    .d_footer_stats {
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .d_footer_writer {
        -ms-flex-order: -1;
        order: -1
    }

    .d_footer .d_section_divider:last-child {
        -ms-flex-order: -2;
        order: -2
    }
}

.d_share_post {
    position: relative;
    margin: 0 -4px
}

.d_share_post>div {
    display: inline-block;
    padding: 0 4px
}

.d_share_post_btn {
    background-color: transparent;
    border: none;
    padding: 0
}

.d_share_post_btn:hover {
    opacity: .7
}

.d_icon_page_post,
.d_icon_page_mypage {
    background-repeat: no-repeat;
    display: inline-block
}

.d_icon_page_post {
    background-image: url(../img/danah/post.png);
    background-size: 600px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_icon_page_post {
        background-image: url(../img/danah/post@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_icon_page_post {
        background-image: url(../img/danah/post@3x.png)
    }
}

.d_share_post_url.d_tooltip {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%, -100%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    transition: opacity .3s ease, transform .3s ease;
    visibility: visible
}

.d_share_tooltip_btn_toggle {
    background-color: transparent;
    border: none;
    padding: 0
}

.d_share_post_url.d_tooltip.d_invisible {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s .3s, opacity .3s ease, transform .3s ease;
    transform: translate(-50%, -120%)
}

.d_share_post_url.d_tooltip>p {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden
}

.d_share_post_url.d_tooltip>button {
    -moz-flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    height: 40px;
    border: 0;
    padding: 0;
    background: #CC5200;
    border-radius: 4px;
    color: #fff;
    font-weight: 700
}

.d_writer_profile {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center
}

.d_writer_profile>div>a {
	color: inherit;
    text-decoration: none;
}

.d_writer_profile>* {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.d_writer_profile_img {
    -moz-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    border-radius: 25px;
    margin-right: 10px;
    min-width: 0;
    height: 50px;
    overflow: hidden
}

.d_writer_profile_img img {
    width: 100%
}
/* -------------- 추후구현 --------------
.d_footer_other {
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    overflow-x: scroll
}

@media (max-width:767px) {
    .d_footer_other {
        margin-right: -15px;
        padding-right: 15px
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .d_footer_other {
        margin-right: -40px;
        padding-right: 40px
    }
}

.d_footer_other_item {
    position: relative;
    border-radius: 8px;
    overflow: hidden
}

.d_footer_other_item:after {
    content: "";
    display: block;
    padding-top: 100%
}

.d_footer_other_item>img {
    position: absolute;
    width: 100%
}

.d_footer_other_more {
    width: 100%;
    height: 100%;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 700
}
-------------- 추후구현 -------------- */

.d_comment_feed_header {
    font-weight: 700;
    color: #000;
    margin: 10px 0 20px;
    font-size: 16px
}

@media (min-width:768px) {
    .comment_feed_header {
        font-size: 18px
    }
}

.d_comment_feed_header_count {
    color: #CC5200
}

.d_comment_feed_header_count.zero {
    color: #000
}

.d_comment_feed_form {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.d_comment_feed_form {
    margin-bottom: 30px
}

.d_comment_feed_form_cover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}

.d_comment_feed_form_user {
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.d_comment_feed_form_user>img {
    width: 30px;
    height: 30px;
    margin: 5px 10px 0 0;
    border-radius: 100%
}

.d_comment_feed_form_input {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 100%;
    border: 1px solid #dbdbdb
}

.d_comment_feed_list {
	margin: 0;
    padding: 0;
    list-style: none;
}

.d_comment_feed_form_content,
.d_comment_feed_form_input {
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    min-width: 0
}

.d_comment_feed_form_content_text {
    display: block;
    width: 100%;
    min-height: 1.4em;
    border: none;
    background: none;
    color: #424242;
    margin: 0;
    padding: 8px 15px 9px;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.4;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box
}

.d_comment_feed_form_content_text::-webkit-input-placeholder {
    color: #bdbdbd
}

.d_comment_feed_form_content_text::-moz-placeholder {
    color: #bdbdbd;
    opacity: 1
}

.d_comment_feed_form_content_text:-ms-input-placeholder {
    color: #bdbdbd
}

.d_comment_feed_form_content_text:-moz-placeholder {
    color: #bdbdbd
}

.d_comment_feed_form_actions {
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 7px 15px 7px 0;
    margin: 0 -7.5px;
    font-size: 0
}

.d_comment_feed_form_submit {
    margin: 0 7.5px;
    padding: 0;
    border: none;
    background: none;
    transition: opacity .2s
}

.d_comment_feed_form_submit>i {
	font-size: 24px;
	color: rgba(204, 82, 0, 0.7);
}

.d_comment_feed_form_submit:active,
.d_comment_feed_form_submit:focus,
.d_comment_feed_form_submit:hover {
    opacity: .8
}

.d_comment_feed_form_submit:disabled {
    opacity: .4
}

.d_comment_feed_item {
    margin-bottom: 20px;
    padding-left: 40px
}

@media (min-width:768px) {
    .d_comment_feed_item {
        margin-bottom: 30px
    }
}

.d_comment_feed_item_content {
    position: relative;
    margin: -4px 0 4px;
    min-width: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.67
}

.d_comment_feed_item_content_author {
    display: block;
    margin: 0 0 -5px;
    font-size: 0;
    line-height: 20px
}

@media (min-width:768px) {
    .d_comment_feed_item_content_author {
        display: inline;
        margin: 0 10px 0 0;
        line-height: inherit
    }
}

.d_comment_feed_item_content_author:active,
.d_comment_feed_item_content_author:focus,
.d_comment_feed_item_content_author:hover {
    text-decoration: underline
}

.d_comment_feed_item_content_author_image {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: -40px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #dbdbdb
}

@media (min-width:768px) {
    .d_comment_feed_item_content_author_image {
        top: 5px
    }
}

.d_comment_feed_item_content_author_name {
    color: #424242;
    font-weight: 700;
    font-size: 15px
}

.d_comment_feed_item_content_content {
    white-space: pre-line
}

.d_comment_feed_item_content_content a {
    color: #CC5200;
    font-weight: 700
}

.d_comment_feed_item_content_content a:hover {
    text-decoration: underline
}

.d_comment_feed_item_footer {
    color: #757575;
    font-size: 13px;
    font-weight: 700
}

.d_comment_feed_item_footer>:after {
    display: inline-block;
    color: #bdbdbd;
    content: "\B7";
    margin: 0 5px;
    font-size: 13px;
    font-weight: 400
}

.d_comment_feed_item_footer>:last-child:after {
    content: "";
    display: none
}

.d_comment_feed_item_footer>a,
.d_comment_feed_item_footer>button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font-size: 13px;
    font-weight: inherit;
    font-family: inherit
}

.d_comment_feed_item_footer>a:active,
.d_comment_feed_item_footer>a:focus,
.d_comment_feed_item_footer>a:hover,
.d_comment_feed_item_footer>button:active,
.d_comment_feed_item_footer>button:focus,
.d_comment_feed_item_footer>button:hover {
    text-decoration: underline
}

.d_comment_feed_item_footer_time {
    font-weight: 400
}

.d_comment_feed_item_footer>.d_comment_feed_item_footer_delete_btn {
    text-decoration: none;
    font-weight: 400;
    color: #bdbdbd
}

.d_comment_feed_item_placeholder .d_comment_feed_item_content_author_name,
.d_comment_feed_item_placeholder .d_comment_feed_item_content_content {
    display: inline-block;
    height: 1em;
    margin: 5px 0 1px
}

.d_comment_feed_item_placeholder .d_comment_feed_item_content_author_name {
    width: 6em;
    background-color: #dbdbdb
}

.d_comment_feed_item_placeholder .d_comment_feed_item_content_content {
    width: 14em;
    background-color: #ededed
}

.d_comment_feed_item_placeholder .d_comment_feed_item_footer_placeholder {
    display: inline-block;
    height: 1em;
    width: 3em;
    margin: 4px .6em 1px 0;
    background-color: #dbdbdb
}

.d_comment_feed_item_placeholder .d_comment_feed_item_footer_placeholder.action {
    background-color: #ededed
}

.d_comment_feed_item_placeholder .d_comment_feed_item_footer_placeholder:after {
    display: none
}

.d_comments_form_input_content_text {
    display: block;
    width: 100%;
    min-height: 1.4em;
    border: none;
    background: none;
    color: #424242;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.4;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
}

.d_list_paginator {
    text-align: center;
    padding: 0;
}

.d_list_paginator>li {
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
}

.d_list_paginator_page {
    display: none;
    min-width: 26px;
    margin: 0 2px;
    padding: 5.5px 5px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #424242;
    transition: background-color .1s, color .1s
}

.d_list_paginator_page:active,
.d_list_paginator_page:focus,
.d_list_paginator_page:hover {
    color: #CC5200;
    text-decoration: underline
}

@media (min-width:768px) {
    .d_list_paginator_page {
        display: block
    }
}

.d_list_paginator_page.selected {
    background-color: #CC5200;
    color: #fff;
    text-decoration: none
}

.d_list_paginator_page.d_sm {
    display: block
}

.d_list_paginator_next,
.d_list_paginator_prev {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    border: none;
    background: none;
    font-size: 0;
    transition: opacity .1s
}

.d_list_paginator_next:active,
.d_list_paginator_next:focus,
.d_list_paginator_next:hover,
.d_list_paginator_prev:active,
.d_list_paginator_prev:focus,
.d_list_paginator_prev:hover {
    opacity: .5
}

.d_list_paginator_prev>i {
	font-size: 15px;
    color: rgba(204, 82, 0, 0.7);
    vertical-align: middle;
}

.d_list_paginator_next>i {
	font-size: 15px;
    color: rgba(204, 82, 0, 0.7);
    vertical-align: middle;
}

.d_col_4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-right: 5px;
    padding-left: 5px
}

@media (min-width: 375px) {
    .d_col_4 {
        padding-right: 5px;
        padding-left: 5px
    }
}

@media (min-width: 768px) {
    .d_col_4 {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width: 1024px) {
    .d_col_4 {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (min-width: 1256px) {
    .d_col_4 {
        padding-right: 10px;
        padding-left: 10px
    }
}

.d_sidebar {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (max-width:1023px) {
    .d_sidebar {
        display: none
    }
}

.d_sidebar_sticky {
    padding-left: 61px
}

.d_sidebar_container {
    box-sizing: border-box;
    position: relative
}

.d_sidebar_container:before {
    content: "";
    position: absolute;
    width: 1px;
    background: #ededed;
    left: -40px;
    top: 0;
    height: 100%
}

.d_sidebar_action {
    margin-left: -5px;
    margin-right: -5px;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.d_sidebar_action>div {
    position: relative;
    padding: 0 5px;
    display: inline-block;
    box-sizing: border-box;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.d_sidebar_action>div.d_mine {
    -moz-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px
}

.d_sidebar_action_btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f5f5f5;
    padding: 0;
    height: 50px;
    color: #424242;
    font-weight: 400
}

.d_sidebar_action_btn:hover {
    background-color: #ededed
}

.d_sidebar_action_btn_mine {
    padding: 0;
    height: 50px;
    border: none;
    background-color: transparent
}

.d_icon_common_action,
.icon_common_etc,
.icon_common_footer,
.icon_common_pro,
.icon_common_star {
    background-repeat: no-repeat;
    display: inline-block
}

.d_icon_common_action {
    background-image: url(../img/danah/action.png);
    background-size: 400px auto
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .d_icon_common_action {
        background-image: url(../img/danah/action@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {
    .d_icon_common_action {
        background-image: url(../img/danah/action@3x.png)
    }
}

.d_sidebar_action_menu {
    position: absolute;
    top: 57px;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    transition: visibility 0s 0s, opacity .3s linear, transform .3s ease
}

.d_sidebar_action_menu.d_dismiss {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: visibility 0s .3s, opacity .3s linear, transform .3s ease
}

.d_sidebar_action_menu>button {
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
    background: transparent;
    padding: 0 10px;
    border-radius: 2px
}

.d_sidebar_action_menu>button:active,
.d_sidebar_action_menu>button:hover {
    background-color: #CC5200;
    color: #fff;
    font-weight: 700
}

.d_sidebar_writer {
    margin-top: 40px;
    margin-bottom: 20px
}

.d_sidebar_others {
    position: relative
}

.d_sidebar_others_list {
    font-size: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: -1px
}

.d_sidebar_others_thumbnail {
    display: inline-block;
    width: 50%;
    padding: 1px;
    box-sizing: border-box
}

.d_sidebar_others_thumbnail_img {
    position: relative;
    overflow: hidden
}

.d_sidebar_others_thumbnail_img:before {
    content: "";
    padding-top: 100%;
    display: block;
    background-color: #f5f5f5
}

.d_sidebar_others_thumbnail_img img {
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s ease
}

.d_sidebar_others_thumbnail_img img:hover {
    transform: translate(-50%, -50%) scale(1.05)
}

.d_sidebar_others_btn {
    width: 80px;
    height: 32px;
    line-height: 32px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 12px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .5);
    text-align: center
}

.d_sidebar_others_btn:hover {
    background-color: rgba(0, 0, 0, .8)
}

.d_sidebar_share {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 40px 0
}

.d_sidebar_overflow .d_sidebar_container {
    overflow: visible
}

.d_sidebar_overflow .d_sidebar_share {
    position: relative;
    bottom: unset;
    margin-top: 40px
}

.d_floating_bar {
    z-index: 1;
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .74)
}

@media (min-width:1024px) {
    .d_floating_bar {
        display: none
    }
}

.d_floating_bar_btn_menu {
    border: none;
    background: transparent;
    width: 33%;
    text-align: center;
    height: 100%;
    padding: 0;
    display: inline-block;
    color: #fff
}

.d_share_tooltip_tooltip {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    transition: opacity .3s ease, transform .3s ease
}

.d_share_tooltip_btn_share {
    border: 0;
    padding: 0;
    background: transparent
}

.d_share_tooltip_btn_share:not(:last-child) {
    margin-right: 8px
}

.d_icon {
    background-size: 400px
}

.d_icon[class*=d_post_filter] {
    background-size: 1748px
}

.d_icon_sns,
[class*=d_icon_sns_] {
    background-image: url(../img/danah/sns.png)
}

.d_icon,
[class*=d_icon_common_action_],
[class*=d_icon_common_etc_],
[class*=d_icon_common_footer_],
[class*=d_icon_common_logo_],
[class*=d_icon_common_pro_],
[class*=d_icon_common_star_] {
    background-repeat: no-repeat;
    display: inline-block
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {

    .d_icon_sns,
    [class*=d_icon_sns_] {
        background-image: url(../img/danah/sns@2x.png)
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx),
(min-resolution:288dpi) {

    .d_icon_sns,
    [class*=d_icon_sns_] {
        background-image: url(../img/danah/sns@3x.png)
    }
}

.d_icon_sns_square_facebook {
    width: 40px;
    height: 40px;
    background-position: top 0 left 0
}

.d_icon_sns_square_kakao_story {
    width: 40px;
    height: 40px;
    background-position: top 0 left -70px
}

.d_icon_sns_square_naver {
    width: 40px;
    height: 40px;
    background-position: top 0 left -210px
}

/* -------------- 글쓰기 -------------- */
form {
    overflow: hidden
}
.d_form_fields {
	position: relative;
	padding: 1.5em;
    max-width: 800px;
    width: 100%;
    margin: 30px auto 140px;
    padding-bottom: 20px;
    background-color: #ffffff;
    color: #424242;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden
}
.d_post_edit,
.d_post_add_tags {
	position: relative; 
	background: #ffffff; 
	padding: 30px; 
	width: 650px;
	border-radius: 10px; 
	margin-top: 1.5em; 
	margin-left: auto; 
	margin-right: auto;
}


@media only screen and (max-width: 767px) {
    .d_form_fields,
	.d_post_edit,
	.d_post_add_tags {
        max-width: 360px;
        margin-top: 3em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .d_form_fields,
	.d_post_edit,
	.d_post_add_tags {
        max-width: 614px;
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .d_form_fields,
	.d_post_edit,
	.d_post_add_tags {
        max-width: 800px
    }
}

.d_form_fields #d_upload_image {
	position: relative;
    height: 400px;
    border-radius: 15px;
    background-color: #dcdcdc;
    transition: all 0.1s ease-in
}

@media only screen and (max-width: 767px) {
    .d_form_fields #d_upload_image {
        height: 240px
    }
}

.d_form_fields #d_upload_image>#d_upload_panel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer
}

.d_form_fields #d_upload_image>#d_upload_panel.change {
    background-color: rgba(0, 0, 0, 0.4)
}

.d_form_fields #d_upload_image>#d_upload_panel>.d_icon {
    margin: 175px auto 5px;
    width: 35px;
    height: 35px;
    background-image: url(../img/danah/icon.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top -446px left -91px
}

@media only screen and (max-width: 767px) {
    .d_form_fields #d_upload_image>#d_upload_panel>.d_icon {
        margin: 95px auto 10px
    }
}

.d_form_fields #d_upload_image>#d_upload_panel>.d_progress {
    font-size: 15px;
    color: #ffffff
}

.d_form_fields #d_upload_image #d_real_image {
	height: -webkit-fill-available;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 600px
}

@media only screen and (max-width: 767px) {
    .d_form_fields #d_upload_image #d_real_image {
        max-height: 240px
    }
}

.d_form_fields #d_upload_image #d_post_uploader {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.d_form_fields #d_upload_image.dragged {
    background-color: #35c5f0;
    opacity: 0.5
}

.d_form_fields>.url {
    display: block;
    margin: 15px 20px 20px;
    border: none;
    outline: none;
    width: 300px;
    height: 15px;
    line-height: 15px;
    font-size: 13px
}

.d_form_fields>select {
    display: block;
    float: left;
    margin: 0 0 20px 20px;
    padding: 0 15px;
    border: 1px solid #dcdcdc;
    width: 240px;
    height: 40px;
    line-height: 40px;
    background-image: url(../img/danah/select.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
    background-size: 15px
}

.d_form_fields>.d_description {
    display: block;
    margin: 20px;
    outline: none;
    border: none;
    clear: both;
    font-size: 15px;
    line-height: 28px
}

.d_form_fields>.d_description:empty:not(:focus):before {
    content: attr(data-ph);
    color: #939598
}

.d_form_fields>.d_keywords {
    margin: 0 20px
}

.d_submit_button {
	border-radius: 10px;
	bottom: 0;
	width: 100%;
	height: 70px;
	overflow: hidden;
	z-index: 500;
	background-color: rgba(22,22,22,0.8);
	box-sizing: border-box;
	color: #ffffff;
    margin-top: 20px;
}

.ui-keyword-field>div:empty {
    padding: 0 0 0 22px;
}

.ui-keyword-field>div {
    float: left;
    margin-right: 10px;
    margin-top: 8px;
    padding: 0 10px;
    height: 30px;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 30px;
}

.ui-keyword-field>.d_keywords {
    cursor: pointer
}

.ui-keyword-field>.d_keywords.active {
    background-color: rgba(204, 82, 0, 0.5);
    color: #ffffff;
}

.ui-keyword-field {
    overflow: hidden;
}

.ui-keyword-field>div[placeholder]:empty:before {
    content: "# " attr(placeholder);
    color: #d8d8d8;
    position: relative;
    left: -12px;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-ph);
    color: #939598;
}

.ui-keyword-field>div:before {
    content: '#';
    margin-right: 5px;
    color: #d8d8d8;
}

/* -------------- 태그등록 -------------- */

.d_post.d_add_tags #d_add_tags {
    max-width: 1280px;
    padding: 0.1em;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.d_post.d_add_tags #d_add_tags>form {
    background-color: #ffffff;
    -webkit-flex: 0 1 800px;
    flex: 0 1 800px;
}

.d_post.d_add_tags #d_add_tags>form>.d_buttons {
    border: 1px solid #eeeeee;
    padding: 12px;
    overflow: hidden;
}

.d_post.d_add_tags #d_add_tags>form>.d_buttons>div.d_title {
    font-size: 18px;
    font-weight: bold;
    color: #424242;
    margin-bottom: 12px;
}

.d_post.d_add_tags #d_add_tags>form>.d_buttons>div.d_title>span {
    font-size: 16px;
    margin-top: 4px;
    color: #CC5200;
    margin-left: 6px;
    font-weight: normal;
}

.d_post.d_add_tags #d_add_tags>form>.d_buttons>input {
    background-color: #CC5200;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 3px 6px;
    float: right;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #CC5200;
    margin-left: 5px;
}

.d_post.d_add_tags #d_add_tags>form>.d_buttons>a>div#d_cancel {
    background-color: transparent;
    border: 1px solid #dcdcdc;
    color: #bdbdbd;
    font-size: 14px;
    margin: 0;
    padding: 3px 6px;
    float: right;
    cursor: pointer;
    border-radius: 2px;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel {
    position: relative;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>img {
    width: 100%;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form {
    position: absolute;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_icon.d_gray {
    width: 30px;
    height: 30px;
    background-image: url(../img/danah/icon.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top -61px left -60px;
}
.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_icon {
    width: 30px;
    height: 30px;
    background-image: url(../img/danah/icon.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top -61px left 0;
    cursor: pointer;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information {
    display: none;
    position: relative;
    width: 200px;
    padding: 9px;
    background: rgba(255,255,255,0.7);
    border: 2px solid #f1f2f2;
    top: -17px;
    left: 17px;
    z-index: 1000;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_user_field {
    width: 100%;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_user_field>textarea {
    padding: 6px;
    border: 1px solid #dcddde;
    width: 100%;
    height: 63px;
    font-size: 12px;
    line-height: 18px;
    resize: none;
    box-sizing: border-box;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_buttons {
    overflow: hidden;
    margin-top: 6px;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_buttons>div.d_confirm {
    float: left;
    background-color: rgba(90,200,251,0.7);
}
.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_buttons>div {
    padding: 6px 12px;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}

.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_buttons>div.d_destroy {
    float: right;
    background-color: rgba(147,149,152,0.7);
}
.d_post.d_add_tags #d_add_tags>form>#d_image_panel>.d_tags_form>.d_tag_information>.d_buttons>div {
    padding: 6px 12px;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}