/*--------------------- common css------------------------- */




/*--------------------- navigation css------------------------- */
#h_search_btn{
	font-size:25px; 
	margin-bottom:9px; 
	vertical-align: bottom; 
	margin-left:10px;
}
#h_wirte_btn{
	top:12px; 
	margin-left: -13.5px;
}
#h_navigation{
	
}

#h_navigation_primary{
	background-color : white;
  	line-height:1;
  	width:100%;
  	border-bottom:1px solid #a6a6a6;
  	padding-bottom: 1rem;
  	padding-top: .25rem;
 	align-items:center;
 	z-index :502;
 	position: fixed;
 	padding-left: 13%;
 	
}
.h_nav_left{
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    font-weight: 900;
    padding: 14px 8px 11px;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    color: black;
    cursor: pointer;
    vertical-align: bottom;
    margin-left :20px;
    letter-spacing: 0.1em;
}
#statics_btn{
	margin-right: 37%;
}
.h_nav_left.active{
	color: #CC5200;
}
.h_nav_right{
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    font-weight: 900;
    padding: 14px 8px 11px;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    color: #757575;
    cursor: pointer;
    vertical-align: bottom;
    margin-left :5px;
}
.h_nav_middle{
	display: inline-block;
    font-size: 15px;
    line-height: 1;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: bolder;
    padding: 14px 8px 11px;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    color: #757575;
    cursor: pointer;
    vertical-align: bottom;
    margin-left :5px;
}
.h_nav_right:hover{
	color : #cc5200;
}
#h_search_btn:hover{
	color : #cc5200;
}
#h_cart_btn:hover{
	color : #cc5200;
}
.h_wirte_btn{
	left: -5px;
    display: inline-block;
    user-select: none;
	width: 74px;
    height: 32px;
    border-radius: 16px;
    font-size: 15px;
    color: white;
    background-color:#CC5200; 
    font-weight: bold;
    text-align: center;
    transition: .1s background, .1s color;
    margin: 0 1.5px -6px;
	position: relative;
    padding: 7px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    text-decoration:none
}

/*--------------------- main css------------------------- */

.h_section{
	margin-top:40px;
	/* background-color:#CC5200; */
	
}
#section_banner{
	height:auto;
}
.h_scale img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
} 

.h_scale:hover img{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
} 

.carousel-inner>.item>img {
    display: block;
    height: 49rem;
    /* overflow:hidden; */
} 
#section_icon{
	height: 160px;
}
.h_icon{
	margin-left: 4%;
    margin-right: 4%;
    list-style: none;
    text-align: center;
}
.h_icon_atag{
	display:block;
	
}
.h_icon_image{
	margin-bottom: 10px;
	position: relative;
	border-radius: 20px;
	background-color: whitesmoke;
	overflow: hidden;
	height: 100px;
}
.h_icon_image_image{
	position: absolute;
	display: block;
	padding:20px;
	top: -25px;
    left: 0;
    width: 100%;
}
.h_icon_image img:hover{
	transform:scale(1.2);
	transition: .5s;
}
.h_icon_title{
	margin-bottom: 10px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.h_icon_caption{
	font-size: 13px;
	color: #757575;
}

#h_middle_banner img{
	width:100%;
}

#section_community{
	height: 600px;
}
.h_menu_header{
	width:100%;
	height:auto;
	margin-bottom: 20px;
}
.h_menu_title{
	display: inline;
	font-weight: bold;
}
.h_menu_move{
	float: right;
	color: #CC5200;
	cursor: pointer;
	/* text-decoration: none !important; */
}
.h_menu_move:hover{
	color: #CC5200 !important;
}
.h_com_list_wrap{
	
}
.h_com_list{
	padding-left: inherit;
}
.h_com_article{
	list-style: none;
	margin-bottom :20px;
}
  
.h_com_article_wrap{
	position: relative;
}
.h_com_article_img_wrap{
	position: relative;
	overflow: hidden;
	height: 250px;
}
.h_com_article_image{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.h_com_article_img_wrap img:hover{
	transform:scale(1.2);
	transition: .5s;
}
.h_com_article_content_wrap{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    height: 50px;
    opacity: 0.6;
    padding: 15px;
}
.h_com_article_content{
	padding: 15px;
}
.h_com_article_content_profile{
	width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
    background-size: cover;
    border: 1px solid rgba(255,255,255,0.5);
}
.h_com_article_content_nickname{
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin: 10px;
    vertical-align: top;
}
#section_store{
	/* height: 600px; */
}
.h_menu_category1{
	margin: 10px -40px;
}
.h_menu_category_menu{
    list-style: none;
    display: inline-flex;
}
.h_menu_category_menu_li{
	font-size: 15px;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
}
.h_menu_category_menu_li.active{
	color: #CC5200;
}

.h_menu_category2{
	margin: 10px -40px;
	height: 300px;
}
.h_menu_item_list{
	
}
.h_menu_item{
	list-style: none;
	margin-bottom :20px;
	/* width: 24.2%; */
	width:16%;
}
  
.h_menu_item_wrap{
	position: relative;
	display :block;
}
.h_menu_item_img_wrap{
	position: relative;
	overflow: hidden;
	height: 170px;
}
.h_menu_item_img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.h_menu_item_img_wrap img:hover{
	transform:scale(1.2);
	transition: .5s;
}
.h_menu_item_content_title{
	font-size: 13px;
	margin-bottom:5px;
	height: 48px;
}
.h_menu_item_content_percent{
	color: #CC5200;
	font-size: 17px;
    font-weight: bold;
    display:inline;
    margin-right:10px;
}
.h_menu_item_content_price{
	font-size: 15px;
    font-weight: bold;
    display:inline;
}
.h_menu_category_menu_li.active{
	color: #CC5200;
}

/*--------------------- add css------------------------- */
.h_border{
	border:dotted 0.03em #8c8c8c;
}
.bir_yy, .bir_mm, .bir_dd{
	display: table-cell;
    table-layout: fixed;
    width: 112px;
    height:34px;
    vertical-align: middle;
    padding-right:5px;
}
.bir_box{
	padding-top:5px;
	display: block;
    position: relative;
    width: 100%;
    height: 34px;
    border: solid 1px #ccc;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
}
.bir_int, .bir_sel{
	border : none;
	width: 100px;
}
.gen_sel{
	width:100%;
	height :34px;
	border: solid 1px #ccc;
	
}
.h_imgup_con{
	width:100%;
}
.h_imgup{
/* 	top:50%;
	left:50%;
	margin-top:-24px;
	margin-left:-24px; */
	position:absolute;
	bottom:0;
	width:100%;
	height:100%;
}
.h_imgup_prev{
	position : relative;
	width:200px;
    height:200px;
    border-radius:4px;
   	background-color:#F0E8E0;
   	margin-bottom : 10px;
    text-align:center;
}
.h_inputFile{
	width:200px;
	height:200px;
	background-color:#FFFFFF;
	overflow:hidden;
	opacity:0;
	cursor:pointer;
}
.h_icon_choose_image{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-24px;
	margin-left:-24px;
	width:48px;
	height:48px;
}
.h_upload-preview{
	border-radius:4px;
	width:200px;
   	height:200px;
   	
}
.h_dupck_btn{
	margin-left:5px;
	border-radius:4px;
    display: inline-block;
    user-select: none;
	width: 74px;
    height: 32px;
    font-size: 15px;
    color: white;
    background-color:#CC5200; 
    text-align: center;
    transition: .1s background, .1s color;
	position: relative;
    padding: 7px; 
	text-decoration:none; 
}

/*--------------------- login css------------------------- */
.h_sns_login{
	text-align: center;
}
/*--------------------- footer css------------------------- */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 20px 55px 150px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #CC5200;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #CC5200;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


