.margint20__ryu {
	margin-top : 20px;
}
.marginside0__ryu {
	margin-right : 0px;
	margin-left : 0px;
}
.margintb15__ryu{
	margin-top:15px;
	margin-bottom:15px;
}
.mb0__ryu{
	margin-bottom:0px ;
}
.mb15__ryu{
	margin-bottom:15px;
}
.ml15__ryu{
	margin-left:15px;
}
.compogap__ryu {
	padding-top : 90px;
	padding-bottom : 90px;
}
.pa0__ryu{
	padding:0px!important;
}
.pr0__ryu{
	padding:0px!important;
}
div .bgcw__ryu{
	background-color:white;
	
}
div .txtcw__ryu{
	color:white;
}
 .txthr10__ryu{
	max-width: 10rem ;
	border: none; 
	border-top: solid .25rem;
}

 .txthr15__ryu{
	max-width: 15rem ;
	border: none; 
	border-top: solid .25rem;
}
.txthr20__ryu{
	max-width: 20rem ;
	border: none; 
	border-top: solid .25rem;
}
.txthr25__ryu{
	max-width: 25rem ;
	border: none; 
	border-top: solid .25rem;
}
.txthr30__ryu{
	max-width: 30rem ;
	border: none; 
	border-top: solid .25rem;
	/* 조심하세요 형님 ;; */
}
.txthr35__ryu{
	max-width: 35rem ;
	border: none; 
	border-top: solid .25rem;
}
.txthr40__ryu{
	max-width: 40rem ;
	border: none; 
	border-top: solid .25rem;
}
.txthr45__ryu{
	max-width: 45rem ;
	border: none; 
	border-top: solid .25rem;
}
.pr0__ryu{
	padding-right:0px !important;
}
.borderG__ryu{
	border-color:#8c8c8c !important;
}
/* 글자 음영 */
.ganjitxt__ryu{
	text-shadow: 2px 2px 2px gray;
}
.ganjitxt_4d4d4d__ryu{
	text-shadow: 2px 2px 2px gray;
	color:#4d4d4d;
}

/* 네비게이션 영역 */
/* 전체틀  */

.btb1__ryu {
	border:none;
	border-top:1px solid ;
	border-bottom:1px solid ;
}


/*아이콘*/
.glyphicon-certificate{
	position: relative;
    top: -1.12em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005';
    font-weight: 900;
    font-size: 2em;
}

.glyalone__ryu{
	color:rgba(204,82,0,08) !important; 
    line-height: 0.98 !important;
} 
/*스크롤감추기*/
#navc__st {
	z-index:2;
}
.nav-up{
	    margin-top: -50px;
	    transition: margin-top 0.45s ease-in-out;
}
.nav-down{
	    margin-top: 0px;
	    transition: margin-top 0.45s ease-in-out;
}

/*스크롤*/
#ctnerb__st{
	position: relative;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color:rgba(204,82,0,0.85) !important;
}
/* The switch - the box around the slider */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}