#je_font_2em{
	font-size: 2em;
}
.je_sign-in-form__action__entry:hover{
	text-decoration: underline;
}
.je_sign-in-form__action__entry {
    display: inline-block;
    padding: 3px 5px;
    margin: -3px 10px;
    text-decoration: none;
    color : black;
}
.je_sign-in-form{
	width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}


.je_sign-in-form__form__input{
	display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 50px;
    color: #424242;
}
.je_sign-in-form__form__submit {
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 13px 15px;
    font-size: 17px;
    line-height: 1.41;
}
.je_signup-form__social__button {
    margin-right: 20px;
}
.je_sign-in-form__action {
    margin: 20px 0;
    text-align: center;
    color: #424242;
    font-size: 15px;
    line-height: 1.4;
}
.je_btn-priority {
    background-color: #cc5200;
    border: 0;
    color: white;
    border-radius: 4px;
    width: 100%;
    height: 50%;
}
.je_btn-priority:hover {
	background-color: #ff8000;
}
#je_sharebtn{
	background-color: white;
	color : black;
	border: 0.5px solid #d6d8d8;
	border-radius: 10px;
	text-align: left !important;
	
} 
.je_manImg{
	margin-left: auto;
	 margin-right: auto; 
	 display: block;
}
.je_sign-in-form__sns__list{
	text-align: center;
}

#je_input_box{
	width: 50%;
}
.je_bold {
    font-weight: bold;
}
.p1{
	font-size:13px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: gray;
}
.je_cover_info{
	font-size: 10px;
	color: gray;
}
#je_icon #gray_a{	
	color: gray;
}
.je_cover_info{
	width : 50%;
}
.je_div_cover{
	margin-top:50px;
	width: 50%;
}

.je_col0 {
	width:45%;
	float:left;
}
.je_col1{
	width:45%;
	float:right;	
}
.je_col2{
	width:45%;
	float:right;	
}
.je_total_share{
	text-align: left !important;
}
.je_cover_title{
	font-size: 2em;
	color: black;
}
.je_price_cover{
	color: #cc5200;
	font-size: 2.5em;
	width: 430px;
	height: 80px;
}
.je_origin_cost{
	font-size: 0.5em;
}

.je_homeicon{
	width: 3%;
}

.je_origin_cost{
	text-decoration: line-through;
	margin-left:40px;
	color: gray;
}
.je_dis_cost{
	text-decoration: none;
	margin-left: 0px;
	margin-top: 10px;
	color: black;
}
.je_discount{
	float: left;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 20px;
    width: 120px;
    height: 50px;
    margin-top: 20px;
}
.kakao_share {
	margin-right: 20px;
    margin-left: 20px;
}
.naver_share{
    margin-right: 20px;
}
#je_selectbtn{
	width: 100%;
	height: 50px;
	margin-top: 30px;
}
#je_view1{
	width: 100%;
	height: 100%;
}
#gray_a{
	color: gray;
}

.je_price_cover{
	line-height:1; !important;
}

#je_won{
	font-size: 30px;
	margin-right: 2px;	
}
#je_get_basket{
	border-radius: 4px;
	border: 1px solid #cc5200;
	background-color: white;
	text-align: center;
	color: #cc5200;
	margin-right: 10px;
	width: 240px;
    height: 50px;
    
}
#je_buy{
	border-radius: 4px;
	border: 1px solid #cc5200;
	background-color: #cc5200;
	text-align: center;
	color: white;
	margin-right : 10px;
	width: 240px;
    height: 50px;
}
#je_buttons{
	margin-top: 30px;
	text-align: center;
}
.nav{
	
	text-align: center;
	border-right: 1px solid #d6d8d8;
	border-left: 1px solid #d6d8d8;
	border-top: 1px solid #d6d8d8;
	
}
.col2{
	border-right: 1px solid #d6d8d8;
	height: 49px;
	font-size: 15px;
    font-weight: bold;
    padding-top: 13px;
}
#je_selling_helper_wrap{
	padding-right: 5cm;
	padding-left:5cm;
	z-index: 3;
	width: 100%; 
	height: 55px;
}
#je_selling_helper{
	margin-bottom: 0px;
}

 .je_sticky{
	position: fixed;
 	top: 75px; 
 	z-index: 1;
}  
.je_row{
	width: 100%;
	height : 650px;
	padding-right: 5cm;
	padding-left:5cm;
}
.je_row1{
	width: 100%;
	padding-right: 5cm;
	padding-left:5cm;
	z-index: 2;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
  
}
.newrev_btn{
	float: right;
    background-color: white;
    width: 200px;
    height: 40px;
    border: 0.5px solid #e8e8e8;
    
}
li.page-item.active a.page-link{
   background-color: #cc5200;
   border-color: #cc5200;
   color : #fff!important;
}
.page-link{
	color: #cc5200!important;
}
.pagination>li>a{
	border:none;
	border-radius: 100%
}
#tooltip {
    position: absolute;
    z-index: 999;
    color: white;
    font-size: 15px;   
}

#tooltip .tipBody {
    background-color: black;
    padding: 8px;
    font-size: 25px;
}