@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* font-family: 'Nanum Gothic', sans-serif; */
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* input{
    width: 100%;    
    padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
} */

#h_navigation{
    text-align: center;
    
}

#h_navigation_primary{
    background-color : white;
     line-height:1;
     width:100%;
     border-bottom:1px solid #a6a6a6;
     padding-bottom: 1rem;
     padding-top: .25rem;
    align-items:center;
    z-index :502;
    position: fixed;
    
    
}
.h_nav_left{
   display: inline-block;
   font-size: 18px;
   line-height: 1;
   font-weight: bolder;
   padding: 14px 8px 11px;
   border: none;
   background: none;
   border-bottom: 2px solid transparent;
   color: #757575;
   cursor: pointer;
   vertical-align: bottom;
   margin-left :20px;
}
.h_nav_right{
   display: inline-block;
   font-size: 15px;
   line-height: 1;
   font-family: 'Noto Sans Korean', sans-serif;
   font-weight: bolder;
   padding: 14px 8px 11px;
   border: none;
   background: none;
   border-bottom: 2px solid transparent;
   color: #757575;
   cursor: pointer;
   vertical-align: bottom;
   margin-left :5px;
}
.h_nav_left:hover{
    color : #cc5200;
}
.h_nav_right:hover{
    color : #cc5200;
}
