
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* font-family: 'Nanum Gothic', sans-serif; */

body {
	font-family: 'Noto Sans KR', sans-serif;
}


/*--------------------- navigation css------------------------- */
#h_navigation{
	text-align: center;
	
}

#h_navigation_primary{
	background-color : white;
  	line-height:1;
  	width:100%;
  	border-bottom:1px solid #a6a6a6;
  	padding-bottom: 1rem;
  	padding-top: .25rem;
 	align-items:center;
 	z-index :502;
 	position: fixed;
 	
 	
}
.h_nav_left{
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    font-weight: bolder;
    padding: 14px 8px 11px;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    color: #757575;
    cursor: pointer;
    vertical-align: bottom;
    margin-left :20px;
}
.h_nav_right{
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: bolder;
    padding: 14px 8px 11px;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    color: #757575;
    cursor: pointer;
    vertical-align: bottom;
    margin-left :5px;
}
.h_nav_middle{
	display: inline-block;
    font-size: 15px;
    line-height: 1;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: bolder;
    padding: 14px 8px 11px;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    color: #757575;
    cursor: pointer;
    vertical-align: bottom;
    margin-left :5px;
}
.h_nav_left:hover{
	color : #cc5200;
} 
.h_nav_right:hover{
	color : #cc5200;
}
#h_search_btn:hover{
	color : #cc5200;
}
#h_cart_btn:hover{
	color : #cc5200;
}
.h_wirte_btn{
	left: -5px;
    display: inline-block;
    user-select: none;
	width: 74px;
    height: 32px;
    border-radius: 16px;
    font-size: 15px;
    color: white;
    background-color:#CC5200; 
    font-weight: bold;
    text-align: center;
    transition: .1s background, .1s color;
    margin: 0 1.5px -6px;
	position: relative;
    padding: 7px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    text-decoration:none
}
/*--------------------- main css------------------------- */
.main{
	weight:90%;
	margin :20px 13%;
	background-color:white;
	
}

.section_banner{
	margin-top:30px;
	background-color:#CC5200;
	
}
.carousel-inner>.item>img {
    display: block;
    height: 49rem;
} 

/* .grid-container{
	display:grid;
	justify-content: center;
	background-color:#cc5200;
	grid-template-row: auto auto auto auto auto;
	grid-row-gap: 20px;
	weight:100%;
	height:100%;
}
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  
} */






/*--------------------- add css------------------------- */
.bir_yy, .bir_mm, .bir_dd{
	display: table-cell;
    table-layout: fixed;
    width: 112px;
    height:34px;
    vertical-align: middle;
    padding-right:5px;
}

.bir_box{
	padding-top:5px;
	display: block;
    position: relative;
    width: 100%;
    height: 34px;
    border: solid 1px #ccc;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
}
.bir_int, .bir_sel{
	border : none;
	width: 100px;
}
.gen_sel{
	width:100%;
	height :34px;
	border: solid 1px #ccc;
	
}










