<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouroom.web.item.ItemMapper">

<select id="list" resultType="com.ouroom.web.item.Item">
		<!-- select * from item i join category2 c where i.CATEGORY2_SEQ = c.SEQ and i.seq>82 order by i.seq desc; -->
		SELECT *
       FROM (
           SELECT
               ROW_NUMBER() OVER(ORDER BY A.${ag}) AS NUM,
               A.*,c.category
           FROM
               item A join category2 c WHERE A.category2_seq=c.seq
       )B
       WHERE B.NUM BETWEEN  #{sp} AND #{ep}
       ORDER BY B.NUM;
		
	</select>
	
	<select id="count" resultType="int">
	select count(*) from item where seq>82 order by seq desc;
	</select>
	
	<select id="read" resultType="com.ouroom.web.item.Item">
	select *,io.seq seqo from item i join item_option io where i.seq = io.ITEM_SEQ and i.seq = #{seq};
	</select>
	
	<select id="c1" resultType="com.ouroom.web.item.Item">
	select * from category1;
	</select>
	<select id="c2" resultType="com.ouroom.web.item.Item">
	select * from category2 where CATEGORY1_SEQ=#{seq};
	</select>
	
	<select id="listSelect" resultType="com.ouroom.web.item.Item">
	
 SELECT *
       FROM (
           SELECT
               ROW_NUMBER() OVER(ORDER BY A.${ag}) AS NUM,
               A.*,c.category
           FROM
               item A join category2 c WHERE A.category2_seq=c.seq and A.CATEGORY2_SEQ= #{category}
       )B
       WHERE B.NUM BETWEEN  #{sp} AND #{ep}
       ORDER BY B.NUM;
       
	</select>
	<select id="listsearch" resultType="com.ouroom.web.item.Item">
	
 	SELECT *
       FROM (
           SELECT
               ROW_NUMBER() OVER(ORDER BY A.${ag}) AS NUM,
               A.*,c.category
           FROM
               item A join category2 c WHERE A.category2_seq=c.seq and A.title like '%${search}%'
       )B
       WHERE B.NUM BETWEEN  #{sp} AND #{ep}
       ORDER BY B.NUM;
       
	</select>
	<insert id="cartAdd" >
	insert into cart(MEM_SEQ,item_seq,cnt,option_seq) values(#{userid},#{seq},#{itemCount},#{itemSeq});
       
	</insert>
	
	<select id="cartList" resultType="com.ouroom.web.item.Item">
	select distinct item_seq from cart where MEM_SEQ =#{userid};
	</select>
	
	<select id="selectOne" resultType="com.ouroom.web.item.Item">
	select * from item i join category2 c on i.CATEGORY2_SEQ = c.seq where i.seq=#{item_seq};
	</select>
	
	<select id="cartOption" resultType="com.ouroom.web.item.Item">
	select * from cart c join item_option io on c.option_seq = io.seq  join item i on i.seq = c.item_seq where c.item_seq = ${item_seq} and c.mem_seq= #{userid};
	</select>
	
	<delete id="cartDelete">
	delete from cart where mem_seq = #{mem_seq} and item_seq=#{item_seq};
	</delete>
	
	<insert id="purC" >
	insert into purchase(MEM_SEQ,item_seq,cnt,option_seq) values(#{mem_seq},#{item_seq},#{cnt},#{option_seq});
	</insert>
	
	<select id="cartAll" resultType="com.ouroom.web.item.Item">
	select * from cart where mem_seq = #{mem_seq}
	</select>
	
	<insert id="itemAdd" >
	insert into item(title,price,delivery,discount,photo,category2_seq,sum,sale_cnt,store_cnt) values(#{title},#{price},#{delivery},#{discount},#{photo},#{category2},#{sum},0,#{store_cnt});
	</insert>
	
	<select id="ItemPk" resultType="java.lang.String">
	select seq from item where title like #{title}
	</select>
	
	<insert id="insertOption" >
	insert into item_option(options,item_seq) values(#{options},#{seq})
	</insert>
	
	<insert id="insertItemPost" >
	insert into item_post(view_cnt,like_cnt,share_cnt,board_seq,item_seq,image,content) values(0,0,0,2,#{seq},#{img},#{content})
	</insert>
	
	
	
</mapper>